ita/.idea/.name
ita/.idea/compiler.xml
ita/.idea/deploymentTargetSelector.xml
ita/.idea/gradle.xml
ita/.idea/kotlinc.xml
ita/.idea/migrations.xml
ita/.idea/misc.xml
ita/.idea/other.xml
ita/.idea/vcs.xml
